In [11]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta

In [38]:
df = pd.read_csv('frauds.csv')

In [39]:
df['date'] = pd.to_datetime(df['date'])

today = df['date'].max()
ytd = today - timedelta(days=1)

In [40]:
df['first_dt'] = df.groupby('advertiser_id')['date'].transform('min')
df['pre_dt'] = df.groupby('advertiser_id')['date'].shift(1)

all the advertisers that were flagged for the very first time yesterday and for the second time today

In [46]:
df[(df['date']==today) & (df['first_dt']==ytd)]

       advertiser_id       date   first_dt     pre_dt
37105           1150 2022-08-31 2022-08-30 2022-08-30
37117           1103 2022-08-31 2022-08-30 2022-08-30
37138           1780 2022-08-31 2022-08-30 2022-08-30
37147           1538 2022-08-31 2022-08-30 2022-08-30
37148           1184 2022-08-31 2022-08-30 2022-08-30
37155           1657 2022-08-31 2022-08-30 2022-08-30
37160           1401 2022-08-31 2022-08-30 2022-08-30
37162           1229 2022-08-31 2022-08-30 2022-08-30
37164           1484 2022-08-31 2022-08-30 2022-08-30
37165           1511 2022-08-31 2022-08-30 2022-08-30
37169           1281 2022-08-31 2022-08-30 2022-08-30
37179           1269 2022-08-31 2022-08-30 2022-08-30