In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('total_messages.csv')

In [19]:
df.head()

   sender_id  receiver_id
0          4           19
1         39            3
2          1           13
3         34           17
4         23            9

In [20]:
df_flip = df.copy()
df_flip.rename(columns={'sender_id':'user_pairB', 'receiver_id':'user_pairA'}, inplace=True)
df_flip['direction'] = 2

df['direction'] = 1
df.rename(columns={'sender_id':'user_pairA', 'receiver_id':'user_pairB'}, inplace=True)

df_total = pd.concat([df, df_flip])

In [29]:
result = df_total.groupby(['user_pairA', 'user_pairB']).agg(
    total_exchanges = ('direction', 'size'),
    sent_by_user_A = ('direction', lambda x: (x==1).sum()),
    sent_by_user_B = ('direction', lambda x: (x==2).sum())
).reset_index().sort_values('total_exchanges', ascending=False).head(1)

In [30]:
result

      user_pairA  user_pairB  total_exchanges  sent_by_user_A  sent_by_user_B
1078          28          26               25              12              13