In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('subscription_tiers.csv')

In [10]:
df.head()

      user_id        date subscription_tier  tier_no  tier_pre  tier_change
151         1  2020-02-12          Standard        3       NaN            0
1416        1  2020-12-10           Starter        2       3.0            2
2280        1  2021-07-10              Plus        4       2.0            1
3786        1  2022-07-11              Free        1       4.0            2
3071        2  2022-01-17              Plus        4       NaN            0

In [4]:
df['subscription_tier'].value_counts()

Free        1046
Plus        1029
Standard    1000
Starter      921
Name: subscription_tier, dtype: int64

In [5]:
df['tier_no'] = 1

df.loc[df['subscription_tier']=='Starter', 'tier_no'] = 2
df.loc[df['subscription_tier']=='Standard', 'tier_no'] = 3
df.loc[df['subscription_tier']=='Plus', 'tier_no'] = 4

In [7]:
df.sort_values(['user_id', 'date'], inplace=True)
df['tier_pre'] = df.groupby('user_id')['tier_no'].shift(1)

In [9]:
df['tier_change'] = 0

df.loc[df['tier_no'] > df['tier_pre'], 'tier_change'] = 1
df.loc[df['tier_no'] < df['tier_pre'], 'tier_change'] = 2

In [23]:
result = pd.DataFrame()

result['count_upgraders'] = [df[df['tier_change']==1]['user_id'].nunique()]
result['count_downgraders'] = [df[df['tier_change']==2]['user_id'].nunique()]

In [24]:
result

   count_upgraders  count_downgraders
0              724                726