In [4]:
import pandas as pd
import numpy as np
import datetime

In [23]:
df = pd.read_csv('user_churn.csv')

In [24]:
df.head()

   user_id subscription_started subscription_ended
0    24388           2016-05-06                NaN
1    43307           2020-03-14                NaN
2     4050           2020-05-10                NaN
3    11571           2014-10-29         2016-03-01
4    25173           2014-11-23                NaN

In [25]:
df['year_sub'] = pd.to_datetime(df['subscription_started']).dt.strftime('%Y')
df['year_unsub'] = pd.to_datetime(df['subscription_ended']).dt.strftime('%Y')

In [26]:
df1 = df.groupby('year_sub')['user_id'].nunique().reset_index()
df1.rename(columns={'year_sub':'year', 'user_id':'subscribers'}, inplace=True)

df2 = df.groupby('year_unsub')['user_id'].nunique().reset_index()
df2.rename(columns={'year_unsub':'year', 'user_id':'unsubscribers'}, inplace=True)

In [27]:
df = pd.merge(df1, df2, how='outer', on='year')

In [28]:
df.sort_values('year', inplace=True)

df['diff'] = df['subscribers'] - df['unsubscribers']
df['diff_pre'] = df['diff'].shift(1)

In [29]:
df['year_change'] = 'NA'
df.loc[df['diff'] < df['diff_pre'], 'year_change'] = 'BELOW'
df.loc[df['diff'] == df['diff_pre'], 'year_change'] = 'SAME'
df.loc[df['diff'] > df['diff_pre'], 'year_change'] = 'ABOVE'

result = df[['year', 'subscribers', 'unsubscribers', 'year_change']]

In [30]:
result

   year  subscribers  unsubscribers year_change
0  2014         7614            612          NA
1  2015         7516           1732       BELOW
2  2016         7371           2953       BELOW
3  2017         7504           3879       BELOW
4  2018         7591           5025       BELOW
5  2019         7524           6221       BELOW
6  2020         5080           4674       BELOW